Repository frictionlessdata/frictionless-r, pull requests merged in 2024-07, with the labels that each got.

#229 Encode null as NULL and NA as string
  NEWS.md
  R/write_package.R
  data/example_package.rda
  man/example_package.Rd
  tests/testthat/test-read_package.R
  tests/testthat/test-write_package.R
Labels: function:write_package

#248 Example package function
  NAMESPACE
  NEWS.md
  R/add_resource.R
  R/check_package.R
  R/data.R
  R/example_package.R
  R/get_resource.R
  R/get_schema.R
  R/print.R
  R/remove_resource.R
  R/resources.R
  _pkgdown.yml
  data/example_package.rda
  inst/extdata/datapackage.json
  man/add_resource.Rd
  man/check_package.Rd
  man/example_package.Rd
  man/get_schema.Rd
  man/print.datapackage.Rd
  man/remove_resource.Rd
  man/resources.Rd
  tests/testthat/test-add_resource.R
  tests/testthat/test-check_data.R
  tests/testthat/test-check_package.R
  tests/testthat/test-check_path.R
  tests/testthat/test-check_schema.R
  tests/testthat/test-create_package.R
  tests/testthat/test-print.R
  tests/testthat/test-read_package.R
  tests/testthat/test-read_resource.R
  tests/testthat/test-remove_resource.R
  tests/testthat/test-resources.R
  tests/testthat/test-write_package.R
Labels: refactor, function:example_package

#244 Refactor `read_resource()`
  NAMESPACE
  NEWS.md
  R/add_resource.R
  R/check_data.R
  R/check_package.R
  R/check_path.R
  R/check_schema.R
  R/col_types.R
  R/collectors.R
  R/create_package.R
  R/example_package.R
  R/frictionless-package.R
  R/get_resource.R
  R/get_schema.R
  R/locale.R
  R/print.R
  R/read_from_path.R
  R/read_package.R
  R/read_resource.R
  R/remove_resource.R
  _pkgdown.yml
  man/add_resource.Rd
  man/check_package.Rd
  man/create_package.Rd
  man/example_package.Rd
  man/get_schema.Rd
  man/print.datapackage.Rd
  man/read_package.Rd
  man/read_resource.Rd
  man/remove_resource.Rd
  man/resources.Rd
  man/write_package.Rd
Labels: function:read_resource, refactor
